/* General styling */
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(90deg, #000000, #3533cd);  /* Background gradient */
    font-family: Arial, sans-serif;
}

.game-container {
    width: 100vw;
    height: 100vh;
    max-width: 400px;
    max-height: 700px;
    background: linear-gradient(90deg, #000000, #3533cd);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* User info */
.user-info {
    color: #fff;
    font-size: 20px;
    text-align: left;
    font-style: italic;
    margin-top: 50px;  /* Small margin for spacing */
}

/* Random message */
.message-box {
    background-color: #8c52ff;  /* Purple color */
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    margin-top: -20px;  /* Move message box upwards */
}

/* Star logo */
.logo-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;  /* Adjust margin for spacing */
}

.logo-img {
    width: 250px;
    height: 250px;
}

/* Coin display */
.coin-display {
    color: #fff;
    text-align: center;
    margin-bottom: 10px;  /* Adjust for spacing */
}

/* Time button */
.time-button {
    display: block;
    width: 100%;
    padding: 18px;
    background-color: #8c52ff;  /* Purple color */
    border: none;
    border-radius: 10px;
    font-size: 14px;
    margin-bottom: 40px;  /* Move button upwards */
}

/* Menu buttons with round box */
.menu-container {
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
}

.round-box {
    width: 50px;
    height: 250px;
    background-color: #8c52ff;  /* Purple color */
    border-radius: 50px;
    margin-right: 2px;
}

.menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.menu-icon {
    width: 30px;
    height: 30px;
    margin: 15px 0;
}
